.float-css:hover {
  transform: translateY(-0.5rem);
}

.dark {
  background-color: #212129;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.container_ {
  max-width: 1200px;
  margin: 0 auto;
}

.header_ {
  z-index: 4;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.header_ .container_ {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 6rem;
  transition: 1s;
}

@media screen and (max-width: 992px) {
  .header_ .container_ {
    display: block;
    overflow: hidden;
  }
  .header_ .container_.show_container {
    height: 28rem;
  }
}

.header_ .container_ a {
  text-decoration: none;
}

.header_ .container_ > a {
  font-size: 1.625rem;
  font-weight: 700;
  color: #dc4f72;
  line-height: 6rem;
}

.header_ .container_ > a i {
  position: relative;
  top: px;
}

.header_ .container_ > button {
  display: none;
  position: absolute;
  top: 1.6rem;
  right: 3rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #dc4f72;
  color: white;
  border-radius: 5px;
  font-size: 1.625rem;
}

@media screen and (max-width: 992px) {
  .header_ .container_ > button {
    display: block;
  }
}

.header_ .container_ #expand_ {
  z-index: 3;
  border: none;
}

.header_ .container_ #cancel_ {
  font-size: 1.875rem;
}

@media screen and (max-width: 992px) {
  .header_ .container_ #cancel_.high_z {
    z-index: 4;
  }
}

.header_ .container_ #cancel_ i {
  display: block;
}

.header_ .container_ .navbar_ {
  display: block;
}

@media screen and (max-width: 992px) {
  .header_ .container_ .navbar_.show_navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.header_ .container_ .navbar_ .nav_ {
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  color: #2C3038;
  margin-right: 1.5rem;
}

@media screen and (max-width: 992px) {
  .header_ .container_ .navbar_ .nav_.show_margin {
    margin-top: 1.5rem;
  }
}

.header_ .container_ .navbar_ .nav_::before {
  width: 0;
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 2px;
  background-color: #dc4f72;
  transition: 0.5s;
}

.header_ .container_ .navbar_ .nav_:hover {
  color: #dc4f72;
}

.header_ .container_ .navbar_ .nav_:hover::before {
  width: 50%;
}

.header_ .container_ .navbar_ ul {
  transform: translate3d(170px, 0px, 0px) !important;
}

.header_ .container_ .navbar_ ul.show_dropdown {
  display: block;
}

@media screen and (max-width: 992px) {
  .header_ .container_ .navbar_ ul {
    transform: translate3d(115px, 124px, 0px) !important;
  }
}

.header_ .container_ .navbar_ button {
  background: transparent;
  font-size: 0.875rem;
  font-weight: 700;
  color: #dc4f72;
  border: 1px solid #dc4f72;
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (max-width: 992px) {
  .header_ .container_ .navbar_ button.show_margin {
    margin-top: 1.5rem;
  }
}

.header_ .container_ .navbar_ button:hover {
  background: #dc4f72;
  color: white;
}

.iconbox_ {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5rem;
  right: 1.25rem;
  z-index: 3;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: #0d1326;
  opacity: 0.5;
}

.iconbox_ i {
  display: inline-block;
  font-size: 1.625rem;
  color: #fff;
}

.side_bar_ {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: fixed;
  right: 0;
  top: 5rem;
  background-color: #0d1326;
  width: 5.5rem;
  height: 21rem;
  padding: 2rem 0;
  border-radius: 0 0 0 1rem;
  z-index: 10;
}

.side_bar_ #toggleButton {
  position: absolute;
  bottom: 5%;
  left: 34%;
}

.side_bar_ hr {
  width: 85%;
  height: 1px;
  background-color: #fff;
}

.side_bar_ a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(230, 235, 255, 0.5);
}

.side_bar_ a:nth-child(2), .side_bar_ a:nth-child(3), .side_bar_ a:nth-child(4) {
  padding-bottom: 1rem;
}

.side_bar_ a:nth-child(2):hover, .side_bar_ a:nth-child(3):hover, .side_bar_ a:nth-child(4):hover {
  color: #e6ebff;
}

.side_bar_ a i {
  font-size: 1.375rem;
}

.content_ {
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../image/home/about.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 36rem;
  padding-top: 5rem;
}

@media screen and (max-width: 992px) {
  .content_ {
    height: 54rem;
  }
}

.content_ .container_ {
  display: flex;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .content_ .container_ {
    flex-wrap: wrap;
  }
}

.content_ .container_ .info_ {
  height: 18rem;
  width: 50%;
  padding: 0 1rem;
}

@media screen and (max-width: 992px) {
  .content_ .container_ .info_ {
    width: 100%;
  }
}

.content_ .container_ .info_ h1 {
  font-size: 3.125rem;
  font-weight: 700;
  color: #2C3038;
  margin-bottom: 1rem;
}

@media screen and (max-width: 576px) {
  .content_ .container_ .info_ h1 {
    font-size: 1.875rem;
  }
}

.content_ .container_ .info_ p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #5a5a5a;
  margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
  .content_ .container_ .info_ p {
    font-size: 1rem;
  }
}

.content_ .container_ .info_ button {
  background: transparent;
  font-size: 0.875rem;
  font-weight: 700;
  color: #dc4f72;
  border: 1px solid #dc4f72;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.5s;
}

.content_ .container_ .info_ button:hover:hover {
  background: #dc4f72;
  color: white;
}

.content_ .container_ .image_ {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .content_ .container_ .image_ {
    width: 100%;
    height: 31rem;
  }
}

.content_ .container_ .image_ img {
  display: block;
  transform: rotate(180deg);
  object-fit: cover;
}

.business_ .container_ {
  padding-top: 5rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.business_ .container_ > h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
}

.business_ .container_ > h1 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #2C3038;
  line-height: 1;
  margin-bottom: 1rem;
}

.business_ .container_ > p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
}

.business_ .container_ .row_ {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .business_ .container_ .row_ {
    padding: 0 1rem;
  }
}

.business_ .container_ .row_ .col_ {
  width: calc(100% / 3);
  padding: 1rem;
}

@media screen and (max-width: 992px) {
  .business_ .container_ .row_ .col_:first-child, .business_ .container_ .row_ .col_:nth-child(2) {
    width: 50%;
  }
  .business_ .container_ .row_ .col_:last-child {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .business_ .container_ .row_ .col_:first-child, .business_ .container_ .row_ .col_:nth-child(2) {
    width: 100%;
  }
}

.business_ .container_ .row_ .col_ .item_ {
  background-color: #F7F9FC;
  height: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.2rem;
  cursor: pointer;
}

.business_ .container_ .row_ .col_ .item_:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.2rem);
  background-color: #fff;
}

.business_ .container_ .row_ .col_ .item_ img {
  width: 4.5rem;
  margin-bottom: 1rem;
}

.business_ .container_ .row_ .col_ .item_ h1 {
  font-size: 1.625rem;
  font-weight: 700;
  color: #2C3038;
}

.business_ .container_ .row_ .col_ .item_ p {
  font-size: 1rem;
  font-weight: 500;
  color: #5a5a5a;
}

.business_.dark h1 {
  color: #fff;
}

.business_.dark p {
  color: #fff;
}

.showcase_ {
  background-color: #F7F9FC;
  padding: 5rem 0;
}

.showcase_ .row_above {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.showcase_ .row_above .info_,
.showcase_ .row_above .image_ {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .showcase_ .row_above .info_,
  .showcase_ .row_above .image_ {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.showcase_ .row_above .info_ {
  padding-right: 5rem;
}

.showcase_ .row_above .info_ h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
}

.showcase_ .row_above .info_ h1 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #2C3038;
}

.showcase_ .row_above .info_ p {
  font-size: 1rem;
  font-weight: 500;
  color: #5a5a5a;
  margin: 2rem 0;
}

.showcase_ .row_above .info_ button {
  background: #cf2952;
  font-size: 0.875rem;
  font-weight: 700;
  color: white;
  border: 1px solid #c4274e;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.showcase_ .row_above .info_ button:hover {
  background-color: #d62f58;
}

.showcase_ .row_above .image_ img {
  width: 33rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem #00000026;
  transition: 0.5s;
  width: 100%;
}

.showcase_ .row_above .image_ img:hover {
  transform: translateY(-0.5rem);
}

.showcase_ .row_below {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.showcase_ .row_below .col_ {
  width: calc(100% / 3);
  padding: 1rem;
}

@media screen and (max-width: 992px) {
  .showcase_ .row_below .col_ {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .showcase_ .row_below .col_ {
    width: 100%;
  }
}

.showcase_ .row_below .col_ .item_ {
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.showcase_ .row_below .col_ .item_:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.showcase_ .row_below .col_ .item_ h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #2C3038;
}

.showcase_ .row_below .col_ .item_ h1 {
  font-size: 3.125rem;
  font-weight: 700;
  color: #dc4f72;
}

.showcase_ .row_below .col_ .item_ p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
}

.showcase_.dark {
  background-color: #212129;
}

.showcase_.dark .row_above .info_ h1 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #fff;
}

.showcase_.dark .row_above .info_ p {
  color: white;
}

.container {
  max-width: 1200px;
  padding: 16px 30px;
}

.ourselves {
  min-height: 480px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url("../image/home/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 70px 0;
}

.ourselves header .middle-section {
  max-width: 550px;
}

.ourselves header .middle-section h1 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #fff;
}

.ourselves header .middle-section p {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin: 16px 0 30px 0;
}

.ourselves header .middle-section button {
  background: #fff;
  font-size: 1rem;
  font-weight: 600;
  color: #343a40;
  border: 0;
  padding: 14px 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.ourselves header .middle-section button:hover {
  opacity: 0.8;
  outline: #fff solid 1px;
}

.solutions {
  text-align: center;
  padding: 3rem 0;
}

.solutions p {
  font-size: 1rem;
  font-weight: 800;
  color: #dc4f72;
  margin-bottom: 5px;
}

.solutions h1 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #343a40;
}

.solutions span {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  margin: 5px 0;
}

.solutions .row {
  margin: 0 -28px;
}

.solutions .row .col {
  padding: 0 1rem;
}

.solutions .row .item {
  text-align: left;
  margin-bottom: 2rem;
}

.solutions .row .item .card {
  border: none;
  overflow: hidden;
  position: relative;
  transition: all 0.5s linear;
}

.solutions .row .item .card:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.solutions .row .item .card:hover .card-body i {
  transform: translateX(3px);
  transition: 0.3s ease-in-out;
}

.solutions .row .item .card:hover img {
  filter: grayscale(0) !important;
  transition: 0.3s ease-in-out;
}

.solutions .row .item .card:hover h4 {
  color: #dc4f72 !important;
}

.solutions .row .item .card .month-year {
  display: inline-block;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  position: absolute;
  background-color: #dc4f72;
  z-index: 2;
}

.solutions .row .item .card img {
  display: block;
  width: 100%;
  filter: grayscale(1);
}

.solutions .row .item .card .card-body {
  padding: 30px 20px;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.solutions .row .item .card .card-body .span-green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}

.solutions .row .item .card .card-body .span-blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}

.solutions .row .item .card .card-body span {
  display: inline-block;
  padding: 5px 1rem;
  background-color: #fcdfe4;
  font-size: 0.875rem;
  font-weight: 600;
  color: #dc4f72;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.solutions .row .item .card .card-body h4 {
  font-size: 1.375rem;
  font-weight: 700;
  color: #343a40;
}

.solutions .row .item .card .card-body p {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  padding: 0 0 20px 0;
  margin: 1rem 0 20px 0;
  border-bottom: 1px solid #eee;
}

.solutions .row .item .card .card-body a {
  background-color: #fff;
  border: none;
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #dc4f72;
}

.solutions .row .item .card .card-body a i {
  font-size: 0.6rem;
  font-weight: 700;
}

.solutions.dark h1, .solutions.dark span {
  color: #fff;
}

.general {
  padding: 3rem 0;
  text-align: center;
  background-color: #F7F9FC;
}

.general p {
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
  margin: 0;
}

.general h1 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #343a40;
}

.general span {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
}

.general .row {
  padding: 4rem 0;
}

.general .row #accordion {
  text-align: left;
}

.general .row #accordion .card {
  margin-bottom: 0.9rem;
  border: 1px solid #f4eeee;
}

.general .row #accordion .card .card-header {
  padding: 0.8rem 1rem;
  background-color: #fff;
  border: none;
  border-radius: 6px;
}

.general .row #accordion .card .card-header .fa-none {
  display: none;
}

.general .row #accordion .card .card-header i {
  color: black;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.general .row #accordion .card .card-header a {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 400;
  color: #343a40;
  box-shadow: none;
  padding: 6px 0;
  display: block;
  position: relative;
}

.general .row #accordion .card .card-body {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  padding: 13px 1.4rem 13px 1rem;
}

.general .row .col .general-img {
  transition: all 0.5s linear;
  margin-bottom: 1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  height: 569px;
  width: 100%;
  background-image: url("../image/home/women.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.general.dark {
  background-color: #212129;
}

.general.dark h1, .general.dark span {
  color: #fff;
}

.completed {
  padding: 3rem 0;
}

@media screen and (max-width: 768px) {
  .completed .nav-group {
    display: none;
  }
  .completed .nav-group-mobile {
    display: block !important;
  }
}

.completed .nav-group-mobile {
  display: none;
}

.completed .nav-group-mobile .accordion-body .image {
  margin: 1rem 0;
}

.completed .nav-group-mobile .accordion-body .image img {
  width: 100%;
  border-radius: 6px;
}

.completed .nav-group-mobile .accordion-body h2 {
  font-size: 1.625rem;
  font-weight: 700;
  color: #343a40;
}

.completed .nav-group-mobile .accordion-body p {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
}

.completed .nav-group-mobile .accordion-body button {
  background: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  color: #dc4f72;
  border: 1px solid #dc4f72;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.completed .nav-group {
  margin: 0 auto;
  padding: 4rem 0;
}

.completed .tab-content .nav-content {
  margin: 2.3rem 0 0 0;
  height: 300px;
  max-height: 300px;
}

.completed .tab-content .nav-content .row .item {
  transition: all 0.5s linear;
}

.completed .tab-content .nav-content .row .item img {
  width: 100%;
  border-radius: 6px;
}

.completed .tab-content .nav-content .row .item h2 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #343a40;
  margin: 0 0 1rem 0;
}

.completed .tab-content .nav-content .row .item p {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  margin: 0 0 1rem 0;
}

.completed .tab-content .nav-content .row .item a {
  text-decoration: none;
  display: inline-block;
  margin: 1rem 0 0  0;
  background: #fff;
  font-size: 1rem;
  font-weight: 600;
  color: #dc4f72;
  border: 1px solid #dc4f72;
  padding: 16px 30px;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.5s;
}

.completed .tab-content .nav-content .row .item a:hover {
  color: #fff;
  background-color: #dc4f72;
}

.completed .nav {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0 !important;
}

.completed .nav .nav-link {
  width: calc(100% / 3);
  text-align: center;
  font-size: 1.375rem;
  font-weight: 800;
  color: #6c757d;
  border-bottom: 3px solid #c1c1c1;
}

.completed .nav .nav-link.active {
  background-color: #fff;
  font-size: 1.375rem;
  font-weight: 800;
  color: #dc4f72;
  transition: all 0.4s linear;
  border-bottom-color: #dc4f72;
}

.completed header {
  text-align: center;
}

.completed header p {
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
  margin: 0 0 5px 0;
}

.completed header h1 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #343a40;
}

.completed header span {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
}

.completed.dark h1, .completed.dark span {
  color: white;
}

.completed.dark .tab-content .nav-content .row .item h2, .completed.dark .tab-content .nav-content .row .item p {
  color: white;
}

.clients {
  height: 654px;
  max-height: 654px;
  min-height: 480px;
  background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url("../image/blog single/b2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 70px 0;
  text-align: center;
}

.clients header p {
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
  margin: 0 0 5px 0;
}

.clients header h1 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #343a40;
}

.clients header span {
  margin: 1rem 0;
}

.clients main {
  margin: 2rem 0 0 0;
}

.clients main .owl-carousel .item {
  height: 292px;
  display: flex;
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  margin: 0 0.8rem;
}

.clients main .owl-carousel .item .img-cirlce {
  max-width: 94px;
  width: 94px;
  height: 94px;
  max-height: 94px;
  overflow: hidden;
  border: 3px solid #dc4f72;
  width: 30%;
}

.clients main .owl-carousel .item .img-cirlce img {
  transform: scale(1.3);
}

.clients main .owl-carousel .item .message {
  position: relative;
  text-align: left;
  padding: 0 0 0 2.6rem;
  flex: 1;
}

.clients main .owl-carousel .item .message i {
  position: absolute;
  top: -3px;
  left: 0;
  font-size: 2.2rem;
  color: #ccc;
}

.clients main .owl-carousel .item .message h4 {
  font-size: 18px;
  font-weight: 400;
  color: #343a40;
  line-height: 26px;
  margin: 0 0 1rem 0;
}

.clients main .owl-carousel .item .message p {
  font-size: 18px;
  font-weight: 400;
  color: #dc4f72;
  margin: 0 0 8px 0;
}

.clients main .owl-carousel .item .message span {
  font-size: 0.875rem;
  font-weight: 400;
  color: #6c757d;
}

.clients main .owl-carousel .owl-nav {
  display: none;
}

.clients main .owl-carousel .owl-dots {
  margin: 2rem 0;
}

.clients main .owl-carousel .owl-dots span {
  border-radius: 0;
  width: 44px;
  height: 6px;
  background: #fff;
}

.clients main .owl-carousel .owl-dots .active span {
  background: #dc4f72;
}

.community {
  text-align: center;
  padding: 3rem 0;
}

.community h1 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #343a40;
}

.community p {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  margin: 1rem 0;
}

.community a {
  display: inline-block;
  text-decoration: none;
  margin: 2rem 1rem 0 0;
  background: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  color: #dc4f72;
  border: 1px solid #dc4f72;
  padding: 16px 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.community a:hover {
  background: #dc4f72;
  color: #fff;
}

.community a.button-primary {
  color: #fff;
  background: #dc4f72;
}

.community a.button-primary:hover {
  background-color: #d62f58;
  border-color: #cf2952;
}

.community.dark h1, .community.dark p {
  color: #fff;
}

.footer {
  background: #f7f9fc;
  padding: 3rem 0;
}

.footer .end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.footer .end p {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  margin: 0;
}

.footer .end .icon a {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  color: #343a40;
  display: inline-block;
  margin: 0 0.8rem;
}

.footer .end .icon a:hover {
  color: #dc4f72;
}

.footer .row {
  padding: 0 0 3rem 0;
  border-bottom: 1px solid rgba(196, 194, 194, 0.3);
}

.footer .row .item h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #343a40;
  margin: 0 0 2.6rem;
}

.footer .row .item a {
  text-decoration: none;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  margin: 10px 0;
}

.footer .row .item a:hover {
  color: #dc4f72;
}

.footer .row .item .form {
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.02);
  min-height: 250px;
  background: #fff;
  padding: 2rem;
  border-radius: 6px;
}

.footer .row .item .form .input-group {
  flex-wrap: nowrap;
}

.footer .row .item .form p {
  font-size: 1.25rem;
  font-weight: 500;
  color: #343a40;
  margin: 0 0 2.6rem 0;
}

.footer .row .item .form input {
  background: #f7f9fc;
  padding: 12px 20px;
  outline: none;
  border: none;
  width: 70%;
  font-size: 1rem;
  font-weight: 700;
  color: #ccc;
  border-radius: 6px;
}

.footer .row .item .form input:focus {
  font-size: 1rem;
  font-weight: 700;
  color: #343a40;
}

.footer .row .item .form a {
  padding: 12px 36px;
  background: #dc4f72;
  color: #fff;
  display: inline-block;
  margin: 0 0 0 1rem;
  border-radius: 6px;
  width: 92px;
  max-width: 100%;
}

.footer .row .item .form span {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  display: block;
  margin: 1rem 0 0 0;
}

.footer.dark {
  background: #212129;
}

.back-to-top {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  text-decoration: none;
  line-height: 40px;
  z-index: 20;
}

.back-to-top i {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.back-to-top:hover i {
  transform: rotate(0);
}

.header_about {
  background-color: #f7f9fc;
}

.header_about a {
  font-size: 0.875rem;
  font-weight: 500;
  color: #343a40;
  text-decoration: none;
  display: inline-block;
  margin: 0 0.4rem 0 0;
}

.header_about a i {
  font-size: 0.4rem;
}

.header_about a.active {
  color: #dc4f72;
}

.header_about a.active:hover {
  text-decoration: underline;
}

.aboutUs_about {
  padding: 3rem 0 0 0;
}

.aboutUs_about h1 {
  text-align: center;
  margin: 0 0 0.625rem 0;
  font-size: 2.875rem;
  font-weight: 700;
  color: #343a40;
}

.aboutUs_about .row {
  margin: 3rem 0 3rem 0;
}

.aboutUs_about .row .item {
  transition: all 0.4s linear;
}

.aboutUs_about .row .item.item-img {
  padding: 0 !important;
}

.aboutUs_about .row .item img {
  width: 100%;
  border-radius: 6px;
}

.aboutUs_about .row .item h2 {
  font-size: 2.25rem;
  font-weight: 600;
  color: #343a40;
}

.aboutUs_about .row .item h3 {
  font-size: 1.625rem;
  font-weight: 700;
  color: #343a40;
}

.aboutUs_about .row .item p {
  font-size: 1rem;
  font-weight: 400;
  color: #6c757d;
  margin: 1rem 0 2rem 0;
}

.aboutUs_about .row .item ul {
  list-style: none;
  padding: 0;
}

.aboutUs_about .row .item ul li {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  color: #343a40;
}

.aboutUs_about .row .item ul li i {
  font-size: 0.875rem;
  color: #dc4f72;
  padding: 0.5rem;
  background: rgba(220, 79, 114, 0.1);
  border-radius: 50%;
}

.business_about {
  background-color: #f7f9fc;
  text-align: center;
  padding: 3rem 0;
}

.business_about p {
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
  margin: 0;
}

.business_about h1 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #343a40;
}

.business_about span {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  margin: 1rem 0;
}

.business_about .row {
  margin: 4rem 0 0 0;
}

.business_about .row .item {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 6px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.02);
  height: 250px;
  background-color: #fff;
}

.business_about .row .item .up {
  position: relative;
  top: 20%;
}

.business_about .row .item .appear {
  transform: scale(0);
  opacity: 0;
  transition: all 0.6s linear;
}

.business_about .row .item .appear p {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  margin: 0;
}

.business_about .row .item .appear span {
  display: block;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
}

.business_about .row .item:hover .icon {
  transform: translateY(-4rem);
  transition: all 0.3s;
}

.business_about .row .item:hover h4 {
  transform: translateY(-4rem);
  transition: all 0.6s;
}

.business_about .row .item:hover .appear {
  display: block;
  transform: scale(1);
  opacity: 1;
}

.business_about .row .item h4 {
  font-size: 1.375rem;
  font-weight: 700;
  color: #343a40;
  margin: 1rem 0 0 0;
}

.business_about .row .item .icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: #dc4f72;
}

.business_about .row .item .icon i {
  font-size: 1.625rem;
  font-weight: 800;
  color: #fff;
  line-height: 70px;
}

.solutions_about {
  padding: 3rem 0;
  background-color: #fff;
  text-align: center;
}

.solutions_about .owl-carousel {
  margin: 3rem 0 0 0;
}

.solutions_about .owl-carousel .item {
  padding: 1.5rem 2rem;
}

.solutions_about .owl-carousel .item img {
  width: 100%;
  filter: grayscale(1);
  transition: 0.3s ease;
}

.solutions_about .owl-carousel .item img:hover {
  filter: grayscale(0);
  cursor: pointer;
}

.solutions_about .owl-carousel .owl-dots, .solutions_about .owl-carousel .owl-nav {
  display: none;
}

.solutions_about button {
  background: #dc4f72;
  font-size: 0.875rem;
  font-weight: 600;
  color: #fff;
  border: 0;
  padding: 0 30px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
  line-height: 52px;
  margin: 3rem 0 2rem 0;
}

.solutions_about button:hover {
  background-color: #d62f58;
  border-color: #cf2952;
}

.solutions_about .image {
  transition: all 0.4s linear;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}

.solutions_about .image a {
  position: absolute;
  display: block;
  top: 40%;
  left: 47%;
}

.solutions_about .image a span {
  background: #fff;
  display: block;
  width: 60px;
  height: 60px;
  animation: ripple 0.6s linear infinite;
  border-radius: 50px;
}

.solutions_about .image a i {
  text-decoration: none;
  color: #dc4f72;
  line-height: 60px;
  font-size: 1.4rem;
}

.solutions_about .image img {
  width: 100%;
  border-radius: 6px;
}

.solutions_about p {
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
  margin: 0;
}

.solutions_about h1 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #343a40;
}

.solutions_about span {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  margin: 1rem 0;
}

.creative_about {
  padding: 3rem 0;
  background-color: #f7f9fc;
  text-align: center;
}

.creative_about .row {
  margin: 3rem 0 0 0;
}

.creative_about .row .item {
  background: #f3f6f9;
  margin: 1rem 0;
}

.creative_about .row .item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
  transition: 0.4s ease-in-out;
}

.creative_about .row .item:hover h4 {
  color: #dc4f72 !important;
  cursor: pointer;
}

.creative_about .row .item .img {
  height: 250px;
  overflow: hidden;
}

.creative_about .row .item .card {
  border: 0;
  text-align: left;
}

.creative_about .row .item .card img {
  width: 100%;
}

.creative_about .row .item .card .card-body {
  padding: 16px;
  background: #fff;
  border-radius: 0 0 6px 6px;
  border: 1px solid #eee;
  border-top: none;
}

.creative_about .row .item .card .card-body h4 {
  font-size: 1.375rem;
  font-weight: 800;
  color: #343a40;
}

.creative_about .row .item .card .card-body p {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  margin: 2px 0 0.875rem 0;
}

.creative_about .row .item .card .card-body a {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}

.creative_about .row .item .card .card-body a i {
  font-size: 12px;
  line-height: 30px;
  display: block;
  color: #fff;
}

.creative_about .row .item .card .card-body a.facebook {
  background: #3b5998;
}

.creative_about .row .item .card .card-body a.twitter {
  background: #1da1f2;
}

.creative_about p {
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
  margin: 0;
}

.creative_about h1 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #343a40;
}

.creative_about span {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  margin: 1rem 0;
}

.community_about {
  padding: 3rem 0;
  background-color: #fff;
  text-align: center;
}

.community_about p {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  margin: 0;
}

.community_about h1 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #343a40;
}

.community_about a {
  display: inline-block;
  text-decoration: none;
  margin: 2rem 1rem 0 0;
  background: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  color: #dc4f72;
  border: 1px solid #dc4f72;
  padding: 16px 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.community_about a:hover {
  color: #fff;
  background-color: #dc4f72;
}

.community_about a.button-primary {
  color: #fff;
  background: #dc4f72;
}

.community_about a.button-primary:hover {
  background-color: #d62f58;
  border-color: #cf2952;
}

.footer {
  background: #f7f9fc;
  padding: 3rem 0;
}

.footer .end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.footer .end p {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  margin: 0;
}

.footer .end .icon a {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  color: #343a40;
  display: inline-block;
  margin: 0 0.8rem;
}

.footer .row {
  padding: 0 0 3rem 0;
  border-bottom: 1px solid rgba(196, 194, 194, 0.3);
}

.footer .row .item h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #343a40;
  margin: 0 0 2.6rem;
}

.footer .row .item a {
  text-decoration: none;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  margin: 10px 0;
}

.footer .row .item .form {
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.02);
  height: 250px;
  max-height: 250px;
  background: #fff;
  padding: 2rem;
  border-radius: 6px;
}

.footer .row .item .form p {
  font-size: 1.25rem;
  font-weight: 500;
  color: #343a40;
  margin: 0 0 2.6rem 0;
}

.footer .row .item .form input {
  background: #f7f9fc;
  padding: 12px 20px;
  outline: none;
  border: none;
  width: 70%;
  font-size: 1rem;
  font-weight: 700;
  color: #ccc;
  border-radius: 6px;
}

.footer .row .item .form input:focus {
  font-size: 1rem;
  font-weight: 700;
  color: #343a40;
}

.footer .row .item .form a {
  padding: 12px 36px;
  background: #dc4f72;
  color: #fff;
  display: inline-block;
  margin: 0 0 0 1rem;
  border-radius: 6px;
}

.footer .row .item .form span {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  display: block;
  margin: 1rem 0 0 0;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0);
  }
}

.modal_about .modal-header {
  padding: 2rem;
}

.modal_about .modal-header h4 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #343a40;
  margin: 0;
}

.modal_about .modal-body {
  padding: 2rem;
}

.modal_about .modal-body form .button {
  text-align: right;
}

.modal_about .modal-body form .button button {
  background: #dc4f72;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  border: 0;
  padding: 1rem 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
}

.modal_about .modal-body form .button button:hover {
  background-color: #d62f58;
  border-color: #cf2952;
}

.modal_about .modal-body form input {
  outline: none;
  padding: 15px 20px;
  border-radius: 0;
  color: #000;
  font-weight: 600;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #eee;
  background: #f7f9fc;
}

.modal_about .modal-body form input:hover {
  background: #fff;
  border: 1px solid #dc4f72;
}

.our_services_ {
  padding-top: 4rem;
}

.our_services_ > h1 {
  text-align: center;
  font-size: 2.875rem;
  font-weight: 800;
  color: #2C3038;
}

.our_services_ .container_ {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.our_services_ .container_ .left_ {
  width: 50%;
  padding: 1rem;
}

@media screen and (max-width: 992px) {
  .our_services_ .container_ .left_ {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.our_services_ .container_ .left_ h1 {
  font-size: 2.875rem;
  font-weight: 600;
  color: #212529;
  padding-bottom: 1rem;
}

.our_services_ .container_ .left_ h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #999;
  padding-bottom: 1rem;
}

.our_services_ .container_ .left_ p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
  padding-bottom: 1rem;
}

.our_services_ .container_ .left_ button {
  background: #dc4f72;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  border: 1px solid #dc4f72;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.5s;
}

.our_services_ .container_ .left_ button:hover {
  background-color: #cf2952;
}

.our_services_ .container_ .right_ {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .our_services_ .container_ .right_ {
    width: 100%;
  }
}

.our_services_ .container_ .right_ .right_item_ {
  width: 50%;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
  .our_services_ .container_ .right_ .right_item_ {
    width: 100%;
  }
}

.our_services_ .container_ .right_ .right_item_ .image_ {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F9FC;
  border-radius: 50%;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.our_services_ .container_ .right_ .right_item_ .image_ img {
  width: 2rem;
  cursor: pointer;
}

.our_services_ .container_ .right_ .right_item_ h1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #2C3038;
  cursor: pointer;
}

.our_services_ .container_ .right_ .right_item_ h1:hover {
  color: #dc4f72;
}

.our_services_ .container_ .right_ .right_item_ p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
}

.strategy_business_ {
  background-color: #F7F9FC;
}

.strategy_business_ .container_ {
  text-align: center;
  padding: 4rem 0;
}

.strategy_business_ .container_ .title_ {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 2rem;
}

.strategy_business_ .container_ h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
}

.strategy_business_ .container_ h1 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #2C3038;
}

.strategy_business_ .container_ p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
}

.strategy_business_ .container_ .row_ {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.strategy_business_ .container_ .row_ .col_ {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
}

@media screen and (max-width: 992px) {
  .strategy_business_ .container_ .row_ .col_ {
    width: 100%;
  }
}

.strategy_business_ .container_ .row_ .col_:nth-of-type(2) {
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .strategy_business_ .container_ .row_ .col_:nth-of-type(2) {
    margin: 2rem 0;
  }
}

.strategy_business_ .container_ .row_ .col_:nth-of-type(2) .image_ {
  width: 90%;
  height: auto;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
  transition: 0.5s;
}

@media screen and (max-width: 992px) {
  .strategy_business_ .container_ .row_ .col_:nth-of-type(2) .image_ {
    width: 17rem;
  }
}

.strategy_business_ .container_ .row_ .col_:nth-of-type(2) .image_:hover {
  transform: translateY(-0.5rem);
}

.strategy_business_ .container_ .row_ .col_:nth-of-type(2) .image_ img {
  width: 100%;
}

.strategy_business_ .container_ .row_ .col_ .item_ {
  display: flex;
  text-align: left;
}

.strategy_business_ .container_ .row_ .col_ .item_ .num_ {
  padding: 0 1.5rem;
}

.strategy_business_ .container_ .row_ .col_ .item_ .num_ .num_icon_ {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.strategy_business_ .container_ .row_ .col_ .item_ .num_ .num_icon_ span {
  font-size: 1.25rem;
  font-weight: 700;
  color: #dc4f72;
}

.strategy_business_ .container_ .row_ .col_ .item_ h1 {
  font-size: 1.25rem;
  font-weight: 800;
  color: #2C3038;
  cursor: pointer;
  transition: 0.5s;
}

.strategy_business_ .container_ .row_ .col_ .item_ h1:hover {
  color: #dc4f72;
}

.strategy_business_ .container_ .row_ .col_ .item_ p {
  font-size: 1rem;
  font-weight: 500;
  color: #5a5a5a;
}

.feature_ .container_ {
  text-align: center;
  padding: 4rem 0;
}

.feature_ .container_ .title_ {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 2rem;
}

.feature_ .container_ h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
}

.feature_ .container_ h1 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #2C3038;
}

.feature_ .container_ p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
}

.feature_ .container_ .row_ {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.feature_ .container_ .row_ .col_ {
  width: 50%;
  padding: 1rem;
}

@media screen and (max-width: 992px) {
  .feature_ .container_ .row_ .col_ {
    width: 100%;
  }
}

.feature_ .container_ .row_ .col_ .item_ {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 2rem;
}

.feature_ .container_ .row_ .col_ .item_ .image_ {
  width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
}

.feature_ .container_ .row_ .col_ .item_ .image_:hover {
  transform: translateY(-0.5rem);
}

.feature_ .container_ .row_ .col_ .item_ .image_ img {
  width: 100%;
}

.feature_ .container_ .row_ .col_ .item_ .info_ h1 {
  font-size: 38px;
  font-weight: 700;
  color: #2C3038;
}

.feature_ .container_ .row_ .col_ .item_ .info_ p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
}

.feature_ .container_ .row_ .col_ .item_ .info_ ul {
  list-style-type: none;
  padding: 0;
}

.feature_ .container_ .row_ .col_ .item_ .info_ ul li {
  font-size: 1rem;
  font-weight: 600;
  color: #2C3038;
}

.feature_ .container_ .row_ .col_ .item_ .info_ ul li span {
  position: relative;
  top: 0.5rem;
  margin-right: 0.5rem;
  background-color: rgba(220, 79, 114, 0.1);
  color: #dc4f72;
  opacity: 0.7;
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  font-size: 0.7rem;
}

.feature_ .container_ .row_ .col_ .item_ .info_ ul li span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feature_ .container_ .row_ .col_ .item_ .info_ button {
  margin-top: 1rem;
  background: #dc4f72;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  border: 1px solid #dc4f72;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.5s;
}

.feature_ .container_ .row_ .col_ .item_ .info_ button:hover {
  background-color: #cf2952;
}

.feature_ .container_ .row_ .col_:first-child .info_ {
  margin-bottom: 3rem;
}

.feature_ .container_ .row_ .col_:last-child .image_ {
  margin-bottom: 3rem;
}

.blog_carousel_ {
  padding: 5rem 0 4rem 0;
  background-color: #F7F9FC;
}

.blog_carousel_ .container_ {
  padding: 1rem 2rem;
}

.blog_carousel_ .container_ .owl-carousel {
  position: relative;
}

.blog_carousel_ .container_ .owl-carousel .owl-dots {
  display: none;
}

.blog_carousel_ .container_ .owl-carousel .owl-nav button {
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(220, 79, 114, 0.4);
  transition: 0.5s;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
}

.blog_carousel_ .container_ .owl-carousel .owl-nav button:hover {
  background: #dc4f72;
}

.blog_carousel_ .container_ .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.blog_carousel_ .container_ .owl-carousel .owl-nav .owl-prev span {
  position: relative;
  top: -6px;
  left: -1px;
}

.blog_carousel_ .container_ .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.blog_carousel_ .container_ .owl-carousel .owl-nav .owl-next span {
  position: relative;
  top: -6px;
  left: 1px;
}

.blog_carousel_ .container_ .owl-carousel .item_ {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
}

.blog_carousel_ .container_ .owl-carousel .item_.slide_1_ span {
  font-size: 0.875rem;
  font-weight: 600;
  color: #008000;
  background: rgba(0, 128, 0, 0.2);
}

.blog_carousel_ .container_ .owl-carousel .item_.slide_2_ span {
  font-size: 0.875rem;
  font-weight: 600;
  color: #0000ff;
  background: rgba(0, 0, 255, 0.2);
}

.blog_carousel_ .container_ .owl-carousel .item_.slide_3_ span {
  font-size: 0.875rem;
  font-weight: 600;
  color: #dc4f72;
  background: rgba(238, 97, 120, 0.2);
}

.blog_carousel_ .container_ .owl-carousel .item_:hover .info_ a i {
  transform: translateX(5px);
}

.blog_carousel_ .container_ .owl-carousel .item_ .image_ {
  width: 50%;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .blog_carousel_ .container_ .owl-carousel .item_ .image_ {
    width: 100%;
  }
}

.blog_carousel_ .container_ .owl-carousel .item_ .image_ img {
  width: 100%;
  height: auto;
}

.blog_carousel_ .container_ .owl-carousel .item_ .image_ .calendar_ {
  position: absolute;
  top: 0;
  right: 0;
  width: 8rem;
  height: 3.5rem;
  background-color: #dc4f72;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog_carousel_ .container_ .owl-carousel .item_ .image_ .calendar_ h1 {
  font-size: 18px;
  font-weight: 700;
  color: white;
  margin: 0;
}

.blog_carousel_ .container_ .owl-carousel .item_ .info_ {
  width: 50%;
  padding: 2rem;
  animation: fadeInLeft;
  animation-duration: 1s;
}

@media screen and (max-width: 992px) {
  .blog_carousel_ .container_ .owl-carousel .item_ .info_ {
    width: 100%;
  }
}

.blog_carousel_ .container_ .owl-carousel .item_ .info_ span {
  display: inline-block;
  border-radius: 2rem;
  padding: 0.3rem 1rem;
}

.blog_carousel_ .container_ .owl-carousel .item_ .info_ h1 {
  font-size: 1.625rem;
  font-weight: 600;
  color: #2C3038;
  margin: 1.5rem 0;
  cursor: pointer;
}

.blog_carousel_ .container_ .owl-carousel .item_ .info_ h1:hover {
  color: #dc4f72;
}

.blog_carousel_ .container_ .owl-carousel .item_ .info_ p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
}

.blog_carousel_ .container_ .owl-carousel .item_ .info_ a {
  font-size: 1rem;
  font-weight: 400;
  color: #dc4f72;
  text-decoration: none;
}

.blog_carousel_ .container_ .owl-carousel .item_ .info_ i {
  font-size: 0.7rem;
  transition: 1s;
}

.solutions .container ul li {
  cursor: pointer;
  margin: 0 0.4rem;
}

.solutions .container ul li.active a {
  border: 1px solid #dc4f72;
  color: #dc4f72;
  background-color: #fff;
}

.solutions .container ul li:hover a {
  border: 1px solid #dc4f72;
  color: #dc4f72;
  background-color: #fff;
}

.solutions .container ul li a {
  border: 1px solid transparent;
  color: black;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  border-radius: 7px;
}

.solutions .container ul li a i {
  font-size: 10px;
  position: relative;
  top: -1px;
}

.header_single {
  background-color: #f7f9fc;
}

.header_single a {
  font-size: 0.875rem;
  font-weight: 500;
  color: #343a40;
  text-decoration: none;
  display: inline-block;
  margin: 0 0.4rem 0 0;
}

.header_single a i {
  font-size: 0.4rem;
}

.header_single a.active {
  color: #dc4f72;
}

.header_single a.active:hover {
  text-decoration: underline;
}

.content_single .content_one .text {
  max-width: 750px;
  margin: 0 auto;
}

.content_single .content_one .text label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #008000;
  background: rgba(0, 128, 0, 0.2);
  padding: 5px 16px;
  border-radius: 25px;
}

.content_single .content_one .text h2 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #343a40;
  margin: 1rem 0;
}

.content_single .content_one .text ul {
  list-style: none;
  padding: 0 0 1rem 0;
  display: flex;
  margin: 0 0 1rem 0;
}

.content_single .content_one .text ul li {
  margin-right: 10px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #6c757d;
}

.content_single .content_one .text ul li i {
  color: #343a40;
}

.content_single .content_one .bg-image {
  transition: all 0.5s linear;
  max-width: 750px;
  margin: 0 auto;
}

.content_single .content_one .bg-image img {
  width: 100%;
  border-radius: 0.5rem;
}

.content_single .content_one .text-content-text p {
  max-width: 750px;
  margin: 1rem  auto 0;
  padding-top: 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #6c757d;
}

.content_single .content_one .text-content-text .single_post_1 {
  max-width: 750px;
  margin: 24px auto 0;
  padding: 10px 0 0 0;
  line-height: 24.5px;
}

.content_single .content_one .text-content-text .single_post_1 .item {
  font-size: 1rem;
  font-weight: 400;
  color: #6c757d;
}

.content_single .content_one .text-content-text .single_post_1 .item img {
  width: 100%;
  min-height: 176px;
  border-radius: 0.5rem;
}

.content_single .content_two .text {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px 45px;
  background-color: #f7f9fc;
  border-left: 3px solid;
}

.content_single .content_two .text blockquote p {
  font-size: 1.625rem;
  font-weight: 400;
  color: #343a40;
}

.content_single .content_two .text blockquote span {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
}

.content_single .content_three .text h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #343a40;
  margin: 25px 0;
  cursor: pointer;
}

.content_single .content_three .text p {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #5a5a5a;
  margin-bottom: 40px;
  font-style: italic;
}

.content_single .content_three .text span {
  display: block;
  margin: 20px 0 0 0;
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
}

.content_single .content_three .text-content-text {
  padding: 0 0 4rem 0;
}

.content_single .content_three .text-content-text .single_post_2 {
  margin: 24px auto 0;
  padding: 10px 0 0 0;
  line-height: 24.5px;
}

.content_single .content_three .text-content-text .single_post_2 .item {
  font-size: 1rem;
  font-weight: 400;
  color: #6c757d;
}

.content_single .content_three .text-content-text .single_post_2 .item img {
  width: 100%;
  min-height: 176px;
  border-radius: 0.5rem;
}

.content_single .content_three nav {
  padding: 24px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.content_single .content_three nav .item:hover {
  cursor: pointer;
}

.content_single .content_three nav .item:hover a p {
  color: #dc4f72 !important;
}

.content_single .content_three nav .item.post-prev p {
  margin: 0 0 10px 0;
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
}

.content_single .content_three nav .item.post-prev p i {
  font-size: 10px;
}

.content_single .content_three nav .item.post-prev a {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.content_single .content_three nav .item.post-prev a .image {
  width: 20%;
}

.content_single .content_three nav .item.post-prev a .image img {
  width: 100%;
  border-radius: 6px;
}

@media screen and (max-width: 576px) {
  .content_single .content_three nav .item.post-prev a .image {
    display: none;
  }
}

.content_single .content_three nav .item.post-prev a p {
  width: 70%;
  margin: 0 0 10px 10px;
  font-size: 1rem;
  font-weight: 700;
  color: #343a40;
}

.content_single .content_three nav .item.post-next p {
  margin: 0 0 10px 0;
  text-align: right;
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
}

.content_single .content_three nav .item.post-next p i {
  font-size: 10px;
}

.content_single .content_three nav .item.post-next a {
  justify-content: flex-end;
  display: flex;
  text-decoration: none;
  align-items: center;
}

.content_single .content_three nav .item.post-next a .image {
  width: 20%;
}

.content_single .content_three nav .item.post-next a .image img {
  width: 100%;
  border-radius: 6px;
}

@media screen and (max-width: 576px) {
  .content_single .content_three nav .item.post-next a .image {
    display: none;
  }
}

.content_single .content_three nav .item.post-next a p {
  width: 70%;
  margin: 0  10px 10px 0;
  font-size: 1rem;
  font-weight: 700;
  color: #343a40;
}

.container-750 {
  max-width: 750px;
  margin: 0 auto;
}

.comments h2 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #343a40;
  margin: 0 0 1.4rem 0;
}

.comments .comment_item-large {
  display: flex;
  margin: 3rem 0 0 0;
}

.comments .comment_item-large .comment_item-small {
  display: flex;
  margin: 1rem 0 0 0;
}

.comments .comment_item-large .comment_item-small .img-circle {
  width: 65px;
  height: 65px;
}

.comments .comment_item-large .img-circle {
  width: 80px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
}

.comments .comment_item-large .img-circle img {
  width: 100%;
}

.comments .comment_item-large .comment_body {
  flex: 1;
  padding: 0 1rem;
}

.comments .comment_item-large .comment_body span {
  font-size: 15px;
  line-height: 20px;
  color: #ababab;
  margin-top: 5px;
  display: inline-block;
}

.comments .comment_item-large .comment_body p {
  font-size: 16px;
  color: #343a40;
  line-height: 22.4px;
  margin: 0;
}

.comments .comment_item-large .comment_body a {
  text-decoration: none;
  font-size: 13px;
  color: #dc4f72;
}

.comments .comment_item-large .comment_body a:hover {
  text-decoration: underline;
}

.related h2 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #343a40;
  margin: 0 0 20px 0;
}

.related .item {
  transition: all 0.4s linear;
}

.related .item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.related .card .card-body {
  display: flex;
  padding: 20px;
}

.related .card .card-body h4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #343a40;
  margin: 0 0 12px 0;
}

.related .card .card-body p {
  font-size: 1rem;
  font-weight: 500;
  color: #343a40;
  margin: 0;
}

.related .card .card-body span {
  font-size: 1rem;
  font-weight: 600;
  color: #dc4f72;
}

.form {
  padding: 2rem 0;
}

.form h2 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #343a40;
  margin: 0 0 20px 0;
}

.form .button {
  text-align: right;
}

.form .button button {
  background: #dc4f72;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  border: 0;
  padding: 1rem 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
}

.form .button button:hover {
  background-color: #d62f58;
  border-color: #cf2952;
}

.form .input textarea {
  color: #000;
  height: 150px;
  font-weight: 700;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #eee;
  background: #f7f9fc;
  padding: 15px 20px;
  outline: none;
}

.form .input textarea:focus {
  border: 1px solid #dc4f72;
  background-color: #fff;
}

.form .input input {
  color: #000;
  font-weight: 700;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #eee;
  background: #f7f9fc;
  padding: 15px 20px;
  outline: none;
}

.form .input input:focus {
  background: #fff;
  border: 1px solid #dc4f72;
}

.contact_us {
  padding-bottom: 3rem;
}

.contact_us h1 {
  text-align: center;
  margin: 2rem 0 3rem 0;
  font-size: 2.875rem;
  font-weight: 800;
  color: #343a40;
}

.contact_us .item:hover img {
  transform: translateY(-0.1rem);
  transition: all 0.4s linear;
}

.contact_us .item img {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 50px;
  transform: translateY(10%);
}

.contact_us .item form .button {
  text-align: right;
}

.contact_us .item form .button button {
  background: #dc4f72;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  border: 0;
  padding: 1rem 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
}

.contact_us .item form .button button:hover {
  background-color: #d62f58;
  border-color: #cf2952;
}

.contact_us .item form h2 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #343a40;
}

.contact_us .item form p {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
}

.contact_us .item form textarea {
  height: 150px;
  max-height: 150px;
  padding: 15px 20px;
  outline: none;
  border-radius: 0;
  color: #000;
  font-weight: 600;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #eee;
  background: #f7f9fc;
}

.contact_us .item form textarea:focus {
  border-color: #dc4f72;
}

.contact_us .item form input {
  outline: none;
  padding: 15px 20px;
  border-radius: 0;
  color: #000;
  font-weight: 600;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #eee;
  background: #f7f9fc;
}

.contact_us .item form input:focus {
  background: #fff;
  border: 1px solid #dc4f72;
}

.contact_us .item.item-form {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}

.inTouch {
  text-align: center;
  padding: 3rem 0;
  background-color: #f7f9fc;
}

.inTouch .row {
  margin: 0 -18px;
}

.inTouch .row .item {
  transition: all 0.4s linear;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  padding: 2rem;
  background: #fff;
  border-radius: 6px;
}

.inTouch .row .item .icon {
  width: 60px;
  margin: 0 auto;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
  background: rgba(220, 79, 114, 0.1);
}

.inTouch .row .item .icon i {
  font-size: 1.6rem;
  color: #dc4f72;
  line-height: 60px;
}

.inTouch .row .item .detail a {
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #6c757d;
}

.inTouch .row .item .detail a:hover {
  text-decoration: underline;
  color: #dc4f72;
}

.inTouch .row .item .detail h4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #343a40;
  margin: 1rem 0;
}

.inTouch .row .item .detail p {
  font-size: 18px;
  font-weight: 700;
  color: #6c757d;
}

.inTouch p {
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
  margin: 0;
}

.inTouch h2 {
  font-size: 2.875rem;
  font-weight: 700;
  color: #343a40;
}

.inTouch span {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  margin: 1rem 0;
}
